# example
DOMAIN_NAME=your_domain.com
# Host data root for bind-mounted volumes
HOST_DATA_ROOT=/path/to/your/data
MARIADB_DATABASE=your_database
MARIADB_USER=your_user
MARIADB_PASSWORD=your_password
MARIADB_ROOT_PASSWORD=your_root_password
WP_ADMIN_USER=admin_user
WP_ADMIN_PASSWORD=admin_password
WP_ADMIN_EMAIL=admin_email@example.com
# WordPress Regular User
WP_USER=regular_user
WP_USER_PASSWORD=regular_password
WP_USER_EMAIL=regular_email@@example.com
# WordPress Site Configuration
WP_SITE_TITLE=Your_Site_Title
WP_SITE_URL=https://your_domain.com
